@import 'tailwindcss';
@theme {
  --font-sans: 'Pretendard', sans-serif;
  --spacing: 1px;
}
@theme {
  --color-primary: rgba(255, 107, 53, 1);
  --color-secondary: rgba(255, 107, 53, 0.1);
  --color-alternative: rgba(236, 236, 236, 1);
  --color-disabled: rgba(0, 0, 0, 0.15);
  --color-line: rgba(0, 0, 0, 0.1);
  --color-success: rgba(84, 169, 88, 1);
  --color-success-bg: rgba(84, 169, 88, 0.2);
  --color-error: rgba(255, 0, 0, 1);
  --color-error-bg: rgba(255, 83, 83, 1);
  --color-normal: rgba(0, 0, 0, 0.7);
  --color-neutral: rgba(0, 0, 0, 0.4);
  --color-thin: rgba(0, 0, 0, 0.04);
  --color-main: rgba(247, 247, 247, 1);
  --color-progressBar: rgba(230, 230, 230, 1);
  --color-progressBarValue: rgba(131, 195, 255, 1);
  --color-assistive: rgba(0, 0, 0, 0.25);
}
